@media (max-width: 576px) {
  .hide {
    display: none;
  }
}

@media (max-width: 576px) {
  .fSizeCont {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .hSizeCont {
    font-size: 20px;
  }
}

